.contact {
    /*background-color:  #EDEDED;
    border-top: solid #2598CD 5px;
    */
}
.map {
    margin-top: 40px;
    width: 100%;
    border: solid #2598CD 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.contactform {
    margin-top: 40px;
    input {
        display: block;
        padding: 10px;
        border: solid #2598CD 1px;
        width: 90%;
    }
    input.btn{
        width: 95.1%!important;
    }
    textarea {
        display: block;
        padding: 10px;
        border: solid #2598CD 1px;
        width: 90%;
        height: 125px;
    }
    h4 {
        margin-top: 20px;
    }
}
