/* MY SERVICES SECTION */

.services{
    padding-bottom: 100px;
}
.box{
    height: 200px;
    background-color: #F3F3F3;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .1);
}

.box-text {
    color: #363636!important;
    margin: 12px;
    margin-top: 25px;
}

.h3 {
    margin-top: 30px;
    color: #363636!important;
}

.about-me {
    background-color: #EDEDED;
    padding-bottom: 40px;
}

.text-3 {
    color: #727272;
    font-size: 15px;
    font-weight: 200;
}

