//CSS
.hidden{
    display: none;
}

//Colors

// Header Section
@import '_header';

// About Section
@import '_about';

// Services Section
@import '_services';

// Portfolio Section
@import '_portfolio';

//Contact Section
@import '_contact';

//Footer
footer{
    width:100;
    height: 50px;
    background-color:black;
    p, h4{
        color: white;
    }
    img{
        height: 30%;
        width: auto;
    }
}
