.transparent{
    background-color: rgba(255, 255, 255, 1);
}
.header{
    background-image: url(http://dengneyal.com/assets/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    height: 870px;
}
.deng{
    overflow: scroll;
}
nav{
    background-color: transparent;
}
.header-content{
    margin-top: 250px;
}
.social a img{
    margin: 5px;
    height: 40px;
}
.profile-pic {
    margin-top: 50px;
    height: 380px;
    border: solid 3px #666666;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
}
.section-text{
    margin-top: 50px;
}
.map {
    margin-top: 40px;
    width: 100%;
    border: solid #2598CD 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}
.panel-height{
    height: 220px;
}
.card-height{
    min-height: 150px;
}
@media screen and (max-width: 992px){
    .header{
        height: 500px;
    }
    .header-content{
        margin-top:10px;
    }
    .icon-scroll, .icon-scroll:before{
        margin-top: 10px;
    }


}

/* scroll */
.icon-scroll,
.icon-scroll:before {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
}

.icon-scroll {
  width: 40px;
  height: 60px;
  bottom: 100px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}

.white {
  color: white;
  margin-top: 7px;
}

@media screen and (max-width: 992px) {
  .icon-scroll,
  .icon-scroll:before, .scroll-text
   {
    display: none;
  }
}
