/* HEADER SECTION */

.header-section {
    background-image: url('http://dengneyal.com/assets/img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    height: 870px;
}

.banner-img {
    width: 100%;
    height: auto;
    position: relative;
    display: none;
}

.social img {
    width: 40px;
    height: auto;
    padding-top: 1.2em;
    padding-top: 15px;
}

.social a {
    padding-right: 5px;
}


/* Nav */

.nav {
    text-align: center;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav ul li {
    display: inline-block;
}

.nav ul li:first-child {
    margin-left: 0;
}

.nav li a {
    font-family: "Caviar Dreams";
    font-size: 20px;
    display: block;
    color: #C9C9C9;
    text-align: center;
    padding: 18px 10px;
    text-decoration: none;
}

.nav li a,
.nav li a:hover {
    -o-transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
    -moz-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
}


/* Text Section */

.title {
    margin-top: 400px;
}

.title h1 {
    font-size: 70px;
    color: #C9C9C9;
}

.title h2 {
    font-size: 30px;
    color: #C9C9C9;
    font-weight: 100;
}


/* button */

.button {
    background-color: #2598CD;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-space {
    padding-top: 50px;
}


/* END OF HEADER SECTION */


/* ABOUT ME SECTION */

.about-me {
    background-color: #EBEBEB;
}

.profile-pic {
    margin-top: 50px;
    height: 380px;
    border: solid 3px #666666;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.color1 {
    color: #727272;
    margin-left: 0!important;
}

.blue {
    color: #2598CD;
}

.portfolio h4 {
    padding-top: 10px;
}

progress,
progress[role] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-size: auto;
    height: 25px;
    width: 100%;
}

.skill-list {
    list-style: none;
    margin: 0;
    padding-top: 1em;
}

.skill {
    margin-bottom: 1em;
    position: relative;
}

.skill h3 {
    color: #fff;
    left: 1em;
    line-height: 1;
    position: absolute;
    top: 1em;
}

.skill ::-webkit-progress-value {
    -webkit-animation: bar-fill 2s;
    width: 0px;
}

.skill-1::-webkit-progress-value {
    background: #ff9e2c;
}

.skill-1::-moz-progress-bar {
    background: #ff9e2c;
}

.skill-2::-webkit-progress-value {
    background: #4ecdc4;
}

.skill-2::-moz-progress-bar {
    background: #4ecdc4;
}

.skill-3::-webkit-progress-value {
    background: #ff6b6b;
}

.skill-3::-moz-progress-bar {
    background: #ff6b6b;
}

@-webkit-keyframes bar-fill {
    0% {
        width: 0;
    }
}

@keyframes bar-fill {
    0% {
        width: 0;
    }
}


/* END OF ABOUT SECTION */


/* MY SERVICES SECTION */

.services {
    padding-bottom: 100px;
}

.hidden {
    display: none;
}

.box {
    height: 200px;
    background-color: #F3F3F3;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .1);
}

.box-text {
    color: #363636!important;
    margin: 12px;
    margin-top: 25px;
}

.h3 {
    margin-top: 30px;
    color: #363636!important;
}

.about-me {
    background-color: #EDEDED;
    padding-bottom: 40px;
}

h3 {
    color: #373737!important;
}

.text {
    margin-top: 15px;
}

.text-3 {
    color: #727272;
    font-size: 15px;
    font-weight: 200;
}


/* PORTFOLIO SECTION */

.portfolio {
    background-color: #EDEDED;
}


/* CONTACT SECTION */

.contact {
    /* background-color: #EDEDED;
    border-top: solid #2598CD 5px; */
}

.map {
    margin-top: 40px;
    width: 100%;
    border: solid #2598CD 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}


/* Contact form */

.contactform {
    margin-top: 40px;
}

.contactform input {
    display: block;
    padding: 10px;
    border: solid #2598CD 1px;
    width: 90%;
}

.contactform textarea {
    display: block;
    padding: 10px;
    border: solid #2598CD 1px;
    width: 90%;
    height: 125px;
}

.contactform h4 {
    margin-top: 20px;
}

.btn {
    width: 95.1%!important;
}